/* .navbar {
    width: 1000px;
    background: rgb(255, 255, 255);
    text-align: left;
}

.navbar ul {
    margin: 0px;
    padding: 0px;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-right: 1px solid #fff;
}

.navbar ul li.active{
    background: rgb(31, 201, 248);
}

.navbar ul li a:hover {
    border-bottom:3px #FFF solid;
}

.navbar a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.navbar a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
} */

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th, .stay {
    background-color: rgb(227, 230, 241);
  }

.table-hover > tbody > tr.no-hover:hover > td,
.table-hover > tbody > tr.no-hover:hover > th {
    background-color: #ffffffff;
    box-shadow: none;
}




.row.display-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }

  .person-img
  {
    cursor:pointer;
  }

  .social-icons {
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(180deg) brightness(95%) contrast(80%);
   }

   .social-icons:hover {
    filter: invert(60%) sepia(13%) saturate(2207%) hue-rotate(180deg) brightness(80%) contrast(60%);
    cursor:pointer;
   }

   .social-icons.orcid {
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(50deg) brightness(100%) contrast(80%);
   }